body {
    background-color: rgb(245,248,250);
    font-family: arial;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border: 5px solid rgb(200,220,255);
    background-repeat: no-repeat;
    color: rgb(0,0,20);
}
