body {
    background-color: rgb(245,248,250);
    font-family: arial;
    background-repeat: no-repeat;
    color: rgb(0,0,50);
    /* border: 5px solid rgb(0,0,150);
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    margin: 0 auto; */
}
