* {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(0,180,220);
}
a:visited {
    color: #065471;
}
body {
    background-color: rgb(240,240,240);
    color: #065471;
    font-family: arial;
}
.content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    line-height: 2;
}
h1 {
    text-align: center;

}
ul {
    padding: 5px 0 5px 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    line-height: 2;
}
nav {
    background-color: #065471;
    padding: 10px;
    min-height: 60px;
}
.nav {
    text-align: center;
    min-height: 100%;
}
#name {
    color: white;
    font-size: 48px;
    float: left;
    margin: auto 0;
    font-family: 'ZCOOL QingKe HuangYou', monospace;
    text-transform: capitalize;
    vertical-align: middle;
}
#logo {
    width: 50px;
    height: 50px;
    float: left;
}
@media screen and (max-width: 600px) {
    #name {
        font-size: 28px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    nav {
        min-height: 35px;
    }
}
@media screen and (max-width: 380px) {
    #name {
        font-size: 19px;
    }
    #logo {
        width: 20px;
        height: 20px;
    }
    nav {
        min-height: 25px;
    }
    h1 {
        font-size: 20px;
    }
}
header {
    height: 200px;
    background-color: black;
    width: 100%;
    background: url("https://paradox42.tk/assets/images/coding-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
