
header {

}
body {
    background-color: #065471;
    color: rgb(240,245,250);
}
ul {
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
}
#logo {
    max-width: 100%;
    margin: 0 auto;
    max-height: 500px;
}
