body {
    background-color: #065471;
}
div {
    max-width: 800px;
    width: 80%;
    background-color: white;
    background: linear-gradient(rgb(225,255,240), rgb(200,240,255));
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    min-height: 600px;
    font-size: 1.3em;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(0,20,50);
}
h2 {
    color: rgb(50,70,100);
    padding-left: 10px;
    border-left: 5px solid rgb(100,120,150);
}
